//Шрифты
$fMon: 'Montserrat', sans-serif;

//Шаблоны

.container{
    position: relative;
    padding-right: 20px;
    padding-left: 20px;

}
.outline{
    width: calc(100% - 40px);
    height: 100%;
    position: absolute;

    &_light{
        border-right: 4px solid #FFFFFF;
        border-left: 4px solid #FFFFFF;
    }
    &_dark{
        border-right: 4px solid #1C2018;
        border-left: 4px solid #1C2018;
    }
}
.inline{
    margin-left: 10px;
    width: calc(100% - 60px);
    height: 100%;
    position: absolute;

    &_light{
        border-right: 4px dashed #FFFFFF;
        border-left: 4px dashed #FFFFFF;
    }
    &_dark{
        border-right: 4px dashed #1C2018;
        border-left: 4px dashed #1C2018;
    }
}