.startBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    text-align: center;
    border: 5px dashed black;
    padding: 5%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.mainWrapperStart{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 89.4vh;
    background: radial-gradient(ellipse farthest-corner at 0% 20%,white 70%, rgb(137, 188, 255) 30%);
    
}
.testBlock{
    background-color: white;
    display: flex;
    width: 80%;

    border: 5px dashed black;
    padding: 1%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.interactTest{
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 5%;
    border-right: 2px solid black;
}
.ChartTest{
    padding: 3%;
    display: flex;
    align-items: center;
}