.header{
    width: 100%;
    height: 132px;
    background: #1C2018;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #FFFFFF;

    &__logo{
        margin-left: 58px;
        img{
            width: 113px;
            height: 104px;
        }
    }

    &__menu{
        z-index: 1;
        display: flex;
        margin-right: 18px;
    }
    &__button{
        display: flex;
        align-items: center;
        text-decoration: none;
        border-right: 0.5px solid #FFFFFF;
        height: 51px;

        &:last-child{
            border: none;
        }

        button{
            padding-right: 8px;
            font-family: $fMon;
            font-size: 24px;
            font-weight: 300;
            border: none;
            background-color: transparent;
            color: white;
            box-sizing: border-box;
            border-bottom: 0.5px solid transparent;

            &:hover{
                border-bottom:  0.5px solid #FFFFFF;
            }
        }

        img{
            padding-left: 8px;
        }
    }

    @include mobile-only{
        &__logo{
            margin-left: 0;
        }
        &__menu{
            display: none;
        }

    }


    @include medium-desktop{
        height: 90px;   

        &__logo{
            img{
                width: 83px;
                height: 74px;
            }
        }

        &__button{
            height: 31px;
    
            button{
                font-size: 18px;
            }
            img{
                height: 25px;
            }
        }

    }
}