.profile{
    background: #FAF6EF;

    &__main{
        padding-top: 60px;
        padding-right: 114px;
        padding-left: 114px;

        display: flex;
        justify-content: space-between;
    }
    &__header{
        
        display: flex;
    }
    &__avatar{
        min-width: 277px;
        height: 345px;
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
        box-shadow: 4px 4px 4px #000000;
    }
    &__name{
        font-family: $fMon;
        font-weight: 500;
        font-size: 24px;

        max-width: 270px;
        text-align: center;
    }
    &__common{
        font-family: $fMon;
        font-weight: 500;
        font-size: 24px;
        padding-top: 36px;
    }
    &__right{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__directions{
        background: rgba(84, 149, 224, 0.31);
        width: 849px;
        height: 488px;
    }
    &__more-button{
        margin-top: 15px;
        width: 434.74px;
        height: 120px;

        border: none;

        color: white;
        font-family: $fMon;
        font-weight: 500;
        font-size: 24px;
        text-align: center;

        background: #1C2018;
    }
    &__best{
        font-family: $fMon;
        font-weight: 500;
        font-size: 24px;

        padding-right: 114px;
        padding-left: 114px;
    }

}